In [1]:
import pandas as pd
import numpy as np

# Lendo e analisando arquivo responsavelRenda_natal:

In [2]:
# lendo arquivo basico e tirando colunas
basico_RN = pd.read_excel("../data/Basico_RN.xls")\
              .drop(columns=['Cod_Grandes Regiões', 'Nome_Grande_Regiao', 'Cod_UF', 'Nome_da_UF ',
                            'Cod_meso', 'Nome_da_meso', 'Cod_micro', 'Nome_da_micro', 'Cod_RM', 'Nome_da_RM',
                            'Cod_municipio', 'Cod_distrito', 'Nome_do_distrito', 'Cod_subdistrito',
                            'Nome_do_subdistrito', 'Cod_bairro', 'Situacao_setor', 'Tipo_setor',
                            'V001', 'V002', 'V003', 'V004', 'V005', 'V006', 'V007', 'V008',
                             'V009', 'V010', 'V011', 'V012'])

In [3]:
basico_RN.head()

         Cod_setor Nome_do_municipio                     Nome_do_bairro
0  240010905000001             ACARI                         Petrópolis
1  240010905000002             ACARI  Senador Dinarte de Medeiros Mariz
2  240010905000003             ACARI               Luiz Gonzaga Bezerra
3  240010905000004             ACARI           Padre José Dantas Cortez
4  240010905000005             ACARI                 Major Ari de Pinho

In [4]:
# lendo tabela responsavelRenda
responsavelRenda_natal = pd.read_excel("../data/ResponsavelRenda_RN.XLS").replace({'X': np.nan}).drop('Situacao_setor', axis=1)
new_columns = []
# renomeando colunas
for col in responsavelRenda_natal.columns:
    if(col[:1] == 'V'):
        name = 'ResponsavelRenda_RN_' + col
        new_columns.append(name)
    else:
        new_columns.append(col)
responsavelRenda_natal.columns = new_columns
# juntando com a tabela basico_RN para obter nomes dos bairros
responsavelRenda_natal = basico_RN.merge(responsavelRenda_natal, on='Cod_setor')

In [5]:
print(responsavelRenda_natal.info())
print(responsavelRenda_natal.shape)
responsavelRenda_natal.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4289 entries, 0 to 4288
Columns: 135 entries, Cod_setor to ResponsavelRenda_RN_V132
dtypes: float64(132), int64(1), object(2)
memory usage: 4.5+ MB
None
(4289, 135)

,Cod_setor,Nome_do_municipio,Nome_do_bairro,ResponsavelRenda_RN_V001,ResponsavelRenda_RN_V002,ResponsavelRenda_RN_V003,ResponsavelRenda_RN_V004,ResponsavelRenda_RN_V005,ResponsavelRenda_RN_V006,ResponsavelRenda_RN_V007,...,ResponsavelRenda_RN_V123,ResponsavelRenda_RN_V124,ResponsavelRenda_RN_V125,ResponsavelRenda_RN_V126,ResponsavelRenda_RN_V127,ResponsavelRenda_RN_V128,ResponsavelRenda_RN_V129,ResponsavelRenda_RN_V130,ResponsavelRenda_RN_V131,ResponsavelRenda_RN_V132
0,240010905000001,ACARI,Petrópolis,4.0,56.0,15.0,3.0,1.0,0.0,0.0,...,6122.0,2910.0,1800.0,0.0,0.0,0.0,0.0,37.0,35.0,21904.0
1,240010905000002,ACARI,Senador Dinarte de Medeiros Mariz,13.0,103.0,21.0,2.0,1.0,0.0,0.0,...,1670.0,1070.0,0.0,0.0,0.0,0.0,0.0,44.0,38.0,18003.0
2,240010905000003,ACARI,Luiz Gonzaga Bezerra,9.0,98.0,47.0,11.0,4.0,0.0,1.0,...,20230.0,6860.0,4200.0,0.0,7000.0,0.0,0.0,101.0,76.0,57832.0
3,240010905000004,ACARI,Padre José Dantas Cortez,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,240010905000005,ACARI,Major Ari de Pinho,3.0,45.0,24.0,24.0,15.0,9.0,0.0,...,6310.0,9130.0,6011.0,12500.0,0.0,10000.0,0.0,44.0,39.0,52329.0

In [6]:
# filtrando para municipio de natal
responsavelRenda_natal = responsavelRenda_natal[responsavelRenda_natal.Nome_do_municipio == 'NATAL'].reset_index(drop=True)
# retirando coluna nome do municipio
responsavelRenda_natal = responsavelRenda_natal.drop('Nome_do_municipio', axis=1)
responsavelRenda_natal.head()

,Cod_setor,Nome_do_bairro,ResponsavelRenda_RN_V001,ResponsavelRenda_RN_V002,ResponsavelRenda_RN_V003,ResponsavelRenda_RN_V004,ResponsavelRenda_RN_V005,ResponsavelRenda_RN_V006,ResponsavelRenda_RN_V007,ResponsavelRenda_RN_V008,...,ResponsavelRenda_RN_V123,ResponsavelRenda_RN_V124,ResponsavelRenda_RN_V125,ResponsavelRenda_RN_V126,ResponsavelRenda_RN_V127,ResponsavelRenda_RN_V128,ResponsavelRenda_RN_V129,ResponsavelRenda_RN_V130,ResponsavelRenda_RN_V131,ResponsavelRenda_RN_V132
0,240810205060001,Potengi,1.0,46.0,55.0,22.0,11.0,5.0,1.0,1.0,...,13440.0,13510.0,4000.0,5100.0,0.0,0.0,0.0,72.0,58.0,49285.0
1,240810205060002,Potengi,4.0,88.0,100.0,36.0,34.0,19.0,3.0,0.0,...,35221.0,11830.0,23950.0,2700.0,0.0,0.0,0.0,129.0,119.0,99677.0
2,240810205060003,Potengi,4.0,108.0,130.0,44.0,50.0,21.0,2.0,0.0,...,38321.0,17450.0,24735.0,22500.0,0.0,0.0,0.0,160.0,147.0,135796.0
3,240810205060004,Potengi,3.0,94.0,126.0,49.0,45.0,21.0,2.0,1.0,...,19010.0,13130.0,13800.0,13600.0,0.0,0.0,0.0,97.0,91.0,80165.0
4,240810205060005,Potengi,2.0,86.0,118.0,35.0,38.0,15.0,4.0,2.0,...,33954.0,19557.0,12289.0,7900.0,5800.0,8000.0,13000.0,116.0,104.0,117696.0

In [7]:
# nomes dos bairros de natal
print(len(responsavelRenda_natal.Nome_do_bairro.unique()))
responsavelRenda_natal.Nome_do_bairro.unique()

37

array(['Potengi', 'Redinha', 'Salinas', 'Igapó',
       'Nossa Senhora da Apresentação', 'Lagoa Azul', 'Pajuçara',
       'Lagoa Nova', 'Nova Descoberta', 'NATAL (demais setores)',
       'Capim Macio', 'Ponta Negra', 'Neópolis', 'Pitimbú', 'Candelária',
       'Cidade Alta', 'Ribeira', 'Rocas', 'Santos Reis', 'Praia do Meio',
       'Areia Preta', 'Mãe Luíza', 'Petrópolis', 'Tirol',
       'Barro Vermelho', 'Lagoa Seca', 'Alecrim', 'Cidade da Esperança',
       'Cidade Nova', 'Planalto', 'Guarapés', 'Filipe Camarão',
       'Bom Pastor', 'Nordeste', 'Quintas', 'Dix-Sept Rosado',
       'Nossa Senhora de Nazaré'], dtype=object)

In [8]:
# colocando em ordem alfabética dos bairros
responsavelRenda_natal = responsavelRenda_natal.sort_values('Nome_do_bairro')
# agrupando por bairro e somando linhas, retirando coluna Codigo do setor
responsavelRenda_natal = responsavelRenda_natal.groupby('Nome_do_bairro', as_index=False).sum().drop(columns=['Cod_setor'])

In [9]:
print(responsavelRenda_natal.shape)
responsavelRenda_natal.head()

(37, 133)

,Nome_do_bairro,ResponsavelRenda_RN_V001,ResponsavelRenda_RN_V002,ResponsavelRenda_RN_V003,ResponsavelRenda_RN_V004,ResponsavelRenda_RN_V005,ResponsavelRenda_RN_V006,ResponsavelRenda_RN_V007,ResponsavelRenda_RN_V008,ResponsavelRenda_RN_V009,...,ResponsavelRenda_RN_V123,ResponsavelRenda_RN_V124,ResponsavelRenda_RN_V125,ResponsavelRenda_RN_V126,ResponsavelRenda_RN_V127,ResponsavelRenda_RN_V128,ResponsavelRenda_RN_V129,ResponsavelRenda_RN_V130,ResponsavelRenda_RN_V131,ResponsavelRenda_RN_V132
0,Alecrim,146.0,2507.0,2431.0,1064.0,973.0,764.0,133.0,54.0,37.0,...,793851.0,505050.0,650368.0,753723.0,258890.0,126500.0,270105.0,3706.0,3356.0,4030035.0
1,Areia Preta,3.0,60.0,140.0,69.0,77.0,90.0,34.0,33.0,68.0,...,51600.0,32712.0,64801.0,134810.0,50700.0,101610.0,302760.0,260.0,245.0,759055.0
2,Barro Vermelho,16.0,193.0,292.0,255.0,433.0,716.0,271.0,323.0,242.0,...,114924.0,156294.0,376155.0,1110359.0,515300.0,843000.0,889941.0,1157.0,1071.0,4067717.0
3,Bom Pastor,343.0,2318.0,1377.0,291.0,152.0,89.0,4.0,1.0,2.0,...,245152.0,91415.0,63396.0,34200.0,7000.0,0.0,0.0,2093.0,1676.0,979766.0
4,Candelária,39.0,508.0,737.0,588.0,992.0,1741.0,609.0,505.0,572.0,...,279066.0,369997.0,995181.0,2421836.0,1105329.0,962041.0,1905692.0,2746.0,2407.0,8182388.0

# Lendo outras tabelas úteis:

In [10]:
#lendo tabela responsavel01
responsavel01_natal = pd.read_excel("../data/Responsavel01_RN.xls").replace({'X': np.nan}).drop('Situacao_setor', axis=1)
new_columns = []
# renomeando colunas
for col in responsavel01_natal.columns:
    if(col[:1] == 'V'):
        name = 'Responsavel01_RN_' + col
        new_columns.append(name)
    else:
        new_columns.append(col)
responsavel01_natal.columns = new_columns
# juntando com tabela basico_RN para obter nomes dos bairros e filtrando para Natal
responsavel01_natal = basico_RN.merge(responsavel01_natal, on='Cod_setor')
responsavel01_natal = responsavel01_natal[responsavel01_natal.Nome_do_municipio == 'NATAL'].reset_index(drop=True).drop('Nome_do_municipio', axis=1)
# agrupando por bairro e somando linhas, retirando coluna Codigo do setor
responsavel01_natal = responsavel01_natal.sort_values('Nome_do_bairro')
responsavel01_natal = responsavel01_natal.groupby('Nome_do_bairro', as_index=False).sum().drop(columns=['Cod_setor'])

#lendo tabela responsavel02
responsavel02_natal = pd.read_excel("../data/Responsavel02_RN.xls").replace({'X': np.nan}).drop('Situacao_setor', axis=1)
new_columns = []
# renomeando colunas
for col in responsavel02_natal.columns:
    if(col[:1] == 'V'):
        name = 'Responsavel02_RN_' + col
        new_columns.append(name)
    else:
        new_columns.append(col)
responsavel02_natal.columns = new_columns
# juntando com tabela basico_RN para obter nomes dos bairros e filtrando para Natal
responsavel02_natal = basico_RN.merge(responsavel02_natal, on='Cod_setor')
responsavel02_natal = responsavel02_natal[responsavel02_natal.Nome_do_municipio == 'NATAL'].reset_index(drop=True).drop('Nome_do_municipio', axis=1)
# agrupando por bairro e somando linhas, retirando coluna Codigo do setor
responsavel02_natal = responsavel02_natal.sort_values('Nome_do_bairro')
responsavel02_natal = responsavel02_natal.groupby('Nome_do_bairro', as_index=False).sum().drop(columns=['Cod_setor'])

In [11]:
#lendo tabela domicilio02
domicilio02_natal = pd.read_excel("../data/Domicilio02_RN.xls").replace({'X': np.nan}).drop('Situacao_setor', axis=1)
new_columns = []
# renomeando colunas
for col in domicilio02_natal.columns:
    if(col[:1] == 'V'):
        name = 'Domicilio02_RN_' + col
        new_columns.append(name)
    else:
        new_columns.append(col)
domicilio02_natal.columns = new_columns
# juntando com tabela basico_RN para obter nomes dos bairros e filtrando para Natal
domicilio02_natal = basico_RN.merge(domicilio02_natal, on='Cod_setor')
domicilio02_natal = domicilio02_natal[domicilio02_natal.Nome_do_municipio == 'NATAL'].reset_index(drop=True).drop('Nome_do_municipio', axis=1)
# agrupando por bairro e somando linhas, retirando coluna Codigo do setor
domicilio02_natal = domicilio02_natal.sort_values('Nome_do_bairro')
domicilio02_natal = domicilio02_natal.groupby('Nome_do_bairro', as_index=False).sum().drop(columns=['Cod_setor'])

# **Análise**

Bairro (Natal) X Quantidade - Gênero da pessoa responsável (mulher/homem responsável) X Renda dos domicílios X Tipos de esgotamentos

Váriaveis que podem ser úteis:

---

PessoaRenda_RN

V023 Homens de 10 anos ou mais de idade com rendimento nominal mensal de até ½ salário mínimo

V024 Homens de 10 anos ou mais de idade com rendimento nominal mensal de mais de ½ a 1 salário mínimo

V025 Homens de 10 anos ou mais de idade com rendimento nominal mensal de mais de 1 a 2 salários mínimos

V026 Homens de 10 anos ou mais de idade com rendimento nominal mensal de mais de 2 a 3 salários mínimos

V027 Homens de 10 anos ou mais de idade com rendimento nominal mensal de mais de 3 a 5 salários mínimos

V028 Homens de 10 anos ou mais de idade com rendimento nominal mensal de mais de 5 a 10 salários mínimos

V029 Homens de 10 anos ou mais de idade com rendimento nominal mensal de mais de 10 a 15 salários mínimos

V030 Homens de 10 anos ou mais de idade com rendimento nominal mensal de mais de 15 a 20 salários mínimos

V031 Homens de 10 anos ou mais de idade com rendimento nominal mensal de mais de 20 salários mínimos

V032 Homens de 10 anos ou mais de idade sem rendimento nominal mensal

V045 Mulheres de 10 anos ou mais de idade com rendimento nominal mensal de até ½ salário mínimo

V046 Mulheres de 10 anos ou mais de idade com rendimento nominal mensal de mais de ½ a 1 salário mínimo

V047 Mulheres de 10 anos ou mais de idade com rendimento nominal mensal de mais de 1 a 2 salários mínimos

V048 Mulheres de 10 anos ou mais de idade com rendimento nominal mensal de mais de 2 a 3 salários mínimos

V049 Mulheres de 10 anos ou mais de idade com rendimento nominal mensal de mais de 3 a 5 salários mínimos

V050 Mulheres de 10 anos ou mais de idade com rendimento nominal mensal de mais de 5 a 10 salários mínimos

V051 Mulheres de 10 anos ou mais de idade com rendimento nominal mensal de mais de 10 a 15 salários mínimos

V052 Mulheres de 10 anos ou mais de idade com rendimento nominal mensal de mais de 15 a 20 salários mínimos

V053 Mulheres de 10 anos ou mais de idade com rendimento nominal mensal de mais de 20 salários mínimos

V054 Mulheres de 10 anos ou mais de idade sem rendimento nominal mensal

---

ResponsavelRenda_RN

V023 Pessoas responsáveis com rendimento nominal mensal de até ½ salário mínimo, do sexo masculino

V024 Pessoas responsáveis com rendimento nominal mensal de mais de 1/2 a 1 salário mínimo, do sexo masculino

V025 Pessoas responsáveis com rendimento nominal mensal de mais de 1 a 2 salários mínimos, do sexo masculino

V026 Pessoas responsáveis com rendimento nominal mensal de mais de 2 a 3 salários mínimos, do sexo masculino

V027 Pessoas responsáveis com rendimento nominal mensal de mais de 3 a 5 salários mínimos, do sexo masculino

V028 Pessoas responsáveis com rendimento nominal mensal de mais de 5 a 10 salários mínimos, do sexo masculino

V029 Pessoas responsáveis com rendimento nominal mensal de mais de 10 a 15 salários mínimos, do sexo masculino

V030 Pessoas responsáveis com rendimento nominal mensal de mais de 15 a 20 salários mínimos, do sexo masculino

V031 Pessoas responsáveis com rendimento nominal mensal de mais de 20 salários mínimos, do sexo masculino

V032 Pessoas responsáveis sem rendimento nominal mensal, do sexo masculino

V045 Pessoas responsáveis com rendimento nominal mensal de até ½ salário mínimo, do sexo feminino

V046 Pessoas responsáveis com rendimento nominal mensal de mais de 1/2 a 1 salário mínimo, do sexo feminino

V047 Pessoas responsáveis com rendimento nominal mensal de mais de 1 a 2 salários mínimos, do sexo feminino

V048 Pessoas responsáveis com rendimento nominal mensal de mais de 2 a 3 salários mínimos, do sexo feminino

V049 Pessoas responsáveis com rendimento nominal mensal de mais de 3 a 5 salários mínimos, do sexo feminino

V050 Pessoas responsáveis com rendimento nominal mensal de mais de 5 a 10 salários mínimos, do sexo feminino

V051 Pessoas responsáveis com rendimento nominal mensal de mais de 10 a 15 salários mínimos, do sexo feminino

V052 Pessoas responsáveis com rendimento nominal mensal de mais de 15 a 20 salários mínimos, do sexo feminino

V053 Pessoas responsáveis com rendimento nominal mensal de mais de 20 salários mínimos, do sexo feminino

V054 Pessoas responsáveis sem rendimento nominal mensal, do sexo feminino

---

Responsável01_RN

V001 Pessoas responsáveis, do sexo feminino

V002 Pessoas responsáveis com 10 anos de idade, do sexo feminino

(...)

V091 Pessoas responsáveis com 99 anos de idade, do sexo feminino

V092 Pessoas responsáveis com 100 ou mais anos de idade, do sexo feminino

---
Responsável02_RN

V109 Pessoas responsáveis, do sexo masculino

V110 Pessoas responsáveis com 10 anos de idade, do sexo masculino

(...)

V199 Pessoas responsáveis com 99 anos de idade, do sexo masculino

V200 Pessoas responsáveis com 100 ou mais anos de idade, do sexo masculino

---

Domicilio01_RN

V017 Qtd_domicilios_esgotamento_rede_geral_de_esgoto_ou_pluvial

V018 Qtd_domicilios_esgotamento_fossa_séptica

V019 Qtd_domicilios_esgotamento_fossa_rudimentar

V020 Qtd_domicilios_esgotamento_vala

V021 Qtd_domicilios_esgotamento_rio_lago_mar

In [12]:
#analise01_porcentagem = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/data/analise01_porcentagem.csv")
#analise01_porcentagem.columns

In [13]:
#esgotamento_analise = analise01_porcentagem[['Nome_do_bairro',
#                                             'pt_Domicilios_esgotamento_rede_geral_de_esgoto_ou_pluvial',
#                                             'pt_Domicilios_esgotamento_fossa_septica',
#                                             'pt_Domicilios_esgotamento_fossa_rudimentar',
#                                             'pt_Domicilios_esgotamento_vala',
#                                             'pt_Domicilios_esgotamento_rio_lago_mar']]

domicilio02_analise = domicilio02_natal[['Nome_do_bairro', 'Domicilio02_RN_V001']]
domicilio02_analise = domicilio02_analise.rename(columns = {'Domicilio02_RN_V001': 'Moradores domicílios particulares e coletivos'})

responsavel01_analise = responsavel01_natal[['Nome_do_bairro', 'Responsavel01_RN_V001']]
responsavel01_analise = responsavel01_analise.rename(columns = {'Responsavel01_RN_V001':'Pessoas responsáveis feminino'})

responsavel02_analise = responsavel02_natal[['Nome_do_bairro', 'Responsavel02_RN_V109']]
responsavel02_analise = responsavel02_analise.rename(columns = {'Responsavel02_RN_V109':'Pessoas responsáveis masculino'})

responsavelRenda_analise = responsavelRenda_natal[['Nome_do_bairro', 'ResponsavelRenda_RN_V032', 'ResponsavelRenda_RN_V023',
                                                   'ResponsavelRenda_RN_V024', 'ResponsavelRenda_RN_V025', 'ResponsavelRenda_RN_V026',
                                                   'ResponsavelRenda_RN_V027', 'ResponsavelRenda_RN_V028', 'ResponsavelRenda_RN_V029',
                                                   'ResponsavelRenda_RN_V030', 'ResponsavelRenda_RN_V031', 'ResponsavelRenda_RN_V054',
                                                   'ResponsavelRenda_RN_V045', 'ResponsavelRenda_RN_V046', 'ResponsavelRenda_RN_V047',
                                                   'ResponsavelRenda_RN_V048', 'ResponsavelRenda_RN_V049', 'ResponsavelRenda_RN_V050',
                                                   'ResponsavelRenda_RN_V051', 'ResponsavelRenda_RN_V052', 'ResponsavelRenda_RN_V053']]
responsavelRenda_analise = responsavelRenda_analise.rename(columns = {'ResponsavelRenda_RN_V032': 'Sem rendimento mensal masculino',
                                                                      'ResponsavelRenda_RN_V023': 'Até 1/2 salário mensal masculino',
                                                                      'ResponsavelRenda_RN_V024': '1/2 a 1 salário mensal masculino',
                                                                      'ResponsavelRenda_RN_V025': '1 a 2 salários mensais masculino',
                                                                      'ResponsavelRenda_RN_V026': '2 a 3 salários mensais masculino',
                                                                      'ResponsavelRenda_RN_V027': '3 a 5 salários mensais masculino',
                                                                      'ResponsavelRenda_RN_V028': '5 a 10 salários mensais masculino',
                                                                      'ResponsavelRenda_RN_V029': '10 a 15 salários mensais masculino',
                                                                      'ResponsavelRenda_RN_V030': '15 a 20 salários mensais masculino',
                                                                      'ResponsavelRenda_RN_V031': 'Mais de 20 salários mensais masculino',
                                                                      'ResponsavelRenda_RN_V054': 'Sem rendimento mensal feminino',
                                                                      'ResponsavelRenda_RN_V045': 'Até 1/2 salário mensal feminino',
                                                                      'ResponsavelRenda_RN_V046': '1/2 a 1 salário mensal feminino',
                                                                      'ResponsavelRenda_RN_V047': '1 a 2 salários mensais feminino',
                                                                      'ResponsavelRenda_RN_V048': '2 a 3 salários mensais feminino',
                                                                      'ResponsavelRenda_RN_V049': '3 a 5 salários mensais feminino',
                                                                      'ResponsavelRenda_RN_V050': '5 a 10 salários mensais feminino',
                                                                      'ResponsavelRenda_RN_V051': '10 a 15 salários mensais feminino',
                                                                      'ResponsavelRenda_RN_V052': '15 a 20 salários mensais feminino',
                                                                      'ResponsavelRenda_RN_V053': 'Mais de 20 salários mensais feminino'})

https://www.google.com/imgres?imgurl=https%3A%2F%2Fcommunity.tableau.com%2Fsfc%2Fservlet.shepherd%2Fversion%2FrenditionDownload%3Frendition%3DTHUMB720BY480%26versionId%3D0684T000005loNm%26operationContext%3DCHATTER%26contentId%3D05T4T00000MNXZd%26page%3D0&tbnid=flrmxxBfWf_QPM&vet=10CA4QxiAoCGoXChMImL-c5bH__gIVAAAAAB0AAAAAEAc..i&imgrefurl=https%3A%2F%2Fcommunity.tableau.com%2Fs%2Fquestion%2F0D54T00000blEQw%2Fmake-line-graph-so-it-doesnt-blend-in-to-stacked-bar-charts&docid=Nmj0TT3kzdYzFM&w=720&h=402&itg=1&q=graph%20three%20variables&ved=0CA4QxiAoCGoXChMImL-c5bH__gIVAAAAAB0AAAAAEAc

https://www.prefeitura.natal.br/sempla/conheca

https://www.prefeitura.natal.br/storage/app/media/sempla/Anuario_2013.pdf

In [14]:
responsavel01_analise['Pessoas responsáveis feminino'] = responsavel01_analise['Pessoas responsáveis feminino'].astype(float)

In [15]:
responsavelRenda_analise.head()

,Nome_do_bairro,Sem rendimento mensal masculino,Até 1/2 salário mensal masculino,1/2 a 1 salário mensal masculino,1 a 2 salários mensais masculino,2 a 3 salários mensais masculino,3 a 5 salários mensais masculino,5 a 10 salários mensais masculino,10 a 15 salários mensais masculino,15 a 20 salários mensais masculino,...,Sem rendimento mensal feminino,Até 1/2 salário mensal feminino,1/2 a 1 salário mensal feminino,1 a 2 salários mensais feminino,2 a 3 salários mensais feminino,3 a 5 salários mensais feminino,5 a 10 salários mensais feminino,10 a 15 salários mensais feminino,15 a 20 salários mensais feminino,Mais de 20 salários mensais feminino
0,Alecrim,219.0,50.0,1182.0,1459.0,691.0,659.0,555.0,91.0,40.0,...,350.0,96.0,1325.0,972.0,373.0,314.0,209.0,42.0,14.0,16.0
1,Areia Preta,9.0,1.0,19.0,68.0,44.0,45.0,53.0,26.0,22.0,...,15.0,2.0,41.0,72.0,25.0,32.0,37.0,8.0,11.0,17.0
2,Barro Vermelho,57.0,3.0,72.0,158.0,143.0,254.0,435.0,191.0,229.0,...,86.0,13.0,121.0,134.0,112.0,179.0,281.0,80.0,94.0,57.0
3,Bom Pastor,203.0,129.0,1285.0,1057.0,224.0,121.0,79.0,3.0,1.0,...,419.0,214.0,1033.0,320.0,67.0,31.0,10.0,1.0,0.0,0.0
4,Candelária,245.0,14.0,225.0,407.0,315.0,520.0,1107.0,433.0,397.0,...,339.0,25.0,283.0,330.0,273.0,472.0,634.0,176.0,108.0,106.0

In [16]:
responsavelRenda_analise['15 a 20 salários mensais masculino'] = responsavelRenda_analise['15 a 20 salários mensais masculino'] + responsavelRenda_analise['Mais de 20 salários mensais masculino']
responsavelRenda_analise['15 a 20 salários mensais feminino'] = responsavelRenda_analise['15 a 20 salários mensais feminino'] + responsavelRenda_analise['Mais de 20 salários mensais feminino']
responsavelRenda_analise = responsavelRenda_analise.drop(columns=['Mais de 20 salários mensais masculino', 'Mais de 20 salários mensais feminino'])\
                                                   .rename(columns = {'15 a 20 salários mensais masculino': 'Mais de 15 salários mensais masculino',
                                                                      '15 a 20 salários mensais feminino': 'Mais de 15 salários mensais feminino',})
responsavelRenda_analise.head()

,Nome_do_bairro,Sem rendimento mensal masculino,Até 1/2 salário mensal masculino,1/2 a 1 salário mensal masculino,1 a 2 salários mensais masculino,2 a 3 salários mensais masculino,3 a 5 salários mensais masculino,5 a 10 salários mensais masculino,10 a 15 salários mensais masculino,Mais de 15 salários mensais masculino,Sem rendimento mensal feminino,Até 1/2 salário mensal feminino,1/2 a 1 salário mensal feminino,1 a 2 salários mensais feminino,2 a 3 salários mensais feminino,3 a 5 salários mensais feminino,5 a 10 salários mensais feminino,10 a 15 salários mensais feminino,Mais de 15 salários mensais feminino
0,Alecrim,219.0,50.0,1182.0,1459.0,691.0,659.0,555.0,91.0,61.0,350.0,96.0,1325.0,972.0,373.0,314.0,209.0,42.0,30.0
1,Areia Preta,9.0,1.0,19.0,68.0,44.0,45.0,53.0,26.0,73.0,15.0,2.0,41.0,72.0,25.0,32.0,37.0,8.0,28.0
2,Barro Vermelho,57.0,3.0,72.0,158.0,143.0,254.0,435.0,191.0,414.0,86.0,13.0,121.0,134.0,112.0,179.0,281.0,80.0,151.0
3,Bom Pastor,203.0,129.0,1285.0,1057.0,224.0,121.0,79.0,3.0,3.0,419.0,214.0,1033.0,320.0,67.0,31.0,10.0,1.0,0.0
4,Candelária,245.0,14.0,225.0,407.0,315.0,520.0,1107.0,433.0,863.0,339.0,25.0,283.0,330.0,273.0,472.0,634.0,176.0,214.0

In [17]:
analise02 = domicilio02_analise.merge(responsavel01_analise, on='Nome_do_bairro')\
                               .merge(responsavel02_analise, on='Nome_do_bairro')\
                               .merge(responsavelRenda_analise, on='Nome_do_bairro')

In [18]:
analise02.columns

Index(['Nome_do_bairro', 'Moradores domicílios particulares e coletivos',
       'Pessoas responsáveis feminino', 'Pessoas responsáveis masculino',
       'Sem rendimento mensal masculino', 'Até 1/2 salário mensal masculino',
       '1/2 a 1 salário mensal masculino', '1 a 2 salários mensais masculino',
       '2 a 3 salários mensais masculino', '3 a 5 salários mensais masculino',
       '5 a 10 salários mensais masculino',
       '10 a 15 salários mensais masculino',
       'Mais de 15 salários mensais masculino',
       'Sem rendimento mensal feminino', 'Até 1/2 salário mensal feminino',
       '1/2 a 1 salário mensal feminino', '1 a 2 salários mensais feminino',
       '2 a 3 salários mensais feminino', '3 a 5 salários mensais feminino',
       '5 a 10 salários mensais feminino', '10 a 15 salários mensais feminino',
       'Mais de 15 salários mensais feminino'],
      dtype='object')

In [19]:
analise02 = analise02[analise02.Nome_do_bairro != 'NATAL (demais setores)']
analise02.head()

,Nome_do_bairro,Moradores domicílios particulares e coletivos,Pessoas responsáveis feminino,Pessoas responsáveis masculino,Sem rendimento mensal masculino,Até 1/2 salário mensal masculino,1/2 a 1 salário mensal masculino,1 a 2 salários mensais masculino,2 a 3 salários mensais masculino,3 a 5 salários mensais masculino,...,Mais de 15 salários mensais masculino,Sem rendimento mensal feminino,Até 1/2 salário mensal feminino,1/2 a 1 salário mensal feminino,1 a 2 salários mensais feminino,2 a 3 salários mensais feminino,3 a 5 salários mensais feminino,5 a 10 salários mensais feminino,10 a 15 salários mensais feminino,Mais de 15 salários mensais feminino
0,Alecrim,28705,3711.0,4967.0,219.0,50.0,1182.0,1459.0,691.0,659.0,...,61.0,350.0,96.0,1325.0,972.0,373.0,314.0,209.0,42.0,30.0
1,Areia Preta,1956,260.0,338.0,9.0,1.0,19.0,68.0,44.0,45.0,...,73.0,15.0,2.0,41.0,72.0,25.0,32.0,37.0,8.0,28.0
2,Barro Vermelho,10087,1157.0,1727.0,57.0,3.0,72.0,158.0,143.0,254.0,...,414.0,86.0,13.0,121.0,134.0,112.0,179.0,281.0,80.0,151.0
3,Bom Pastor,18224,2095.0,3104.0,203.0,129.0,1285.0,1057.0,224.0,121.0,...,3.0,419.0,214.0,1033.0,320.0,67.0,31.0,10.0,1.0,0.0
4,Candelária,22391,2746.0,4129.0,245.0,14.0,225.0,407.0,315.0,520.0,...,863.0,339.0,25.0,283.0,330.0,273.0,472.0,634.0,176.0,214.0

In [20]:
print('analise02 - Valores máximos')
print(analise02.max())
print('\nanalise02 - Valores mínimos')
print(analise02.max())

analise02 - Valores máximos
Nome_do_bairro                                     Tirol
Moradores domicílios particulares e coletivos      79759
Pessoas responsáveis feminino                     8682.0
Pessoas responsáveis masculino                   14062.0
Sem rendimento mensal masculino                    949.0
Até 1/2 salário mensal masculino                   519.0
1/2 a 1 salário mensal masculino                  5013.0
1 a 2 salários mensais masculino                  4938.0
2 a 3 salários mensais masculino                  1480.0
3 a 5 salários mensais masculino                  1388.0
5 a 10 salários mensais masculino                 1752.0
10 a 15 salários mensais masculino                 665.0
Mais de 15 salários mensais masculino             1259.0
Sem rendimento mensal feminino                    1491.0
Até 1/2 salário mensal feminino                   1329.0
1/2 a 1 salário mensal feminino                   3536.0
1 a 2 salários mensais feminino                   1681.0
2 a 3 salários mensais feminino                    652.0
3 a 5 salários mensais feminino                    679.0
5 a 10 salários mensais feminino                  1085.0
10 a 15 salários mensais feminino                  305.0
Mais de 15 salários mensais feminino               418.0
dtype: object

analise02 - Valores mínimos
Nome_do_bairro                                     Tirol
Moradores domicílios particulares e coletivos      79759
Pessoas responsáveis feminino                     8682.0
Pessoas responsáveis masculino                   14062.0
Sem rendimento mensal masculino                    949.0
Até 1/2 salário mensal masculino                   519.0
1/2 a 1 salário mensal masculino                  5013.0
1 a 2 salários mensais masculino                  4938.0
2 a 3 salários mensais masculino                  1480.0
3 a 5 salários mensais masculino                  1388.0
5 a 10 salários mensais masculino                 1752.0
10 a 15 salários mensais masculino                 665.0
Mais de 15 salários mensais masculino             1259.0
Sem rendimento mensal feminino                    1491.0
Até 1/2 salário mensal feminino                   1329.0
1/2 a 1 salário mensal feminino                   3536.0
1 a 2 salários mensais feminino                   1681.0
2 a 3 salários mensais feminino                    652.0
3 a 5 salários mensais feminino                    679.0
5 a 10 salários mensais feminino                  1085.0
10 a 15 salários mensais feminino                  305.0
Mais de 15 salários mensais feminino               418.0
dtype: object

## Criando dataframe com porcentagens

In [21]:
analise02_pt = analise02.copy()
som = analise02.iloc[:, 4:13].sum(axis=1)
for l in analise02_pt.columns[4:13]:
  analise02_pt[l] = analise02_pt[l] / som * 100
som = analise02.iloc[:, 13:22].sum(axis=1)
for l in analise02.columns[13:22]:
  analise02_pt[l] = analise02_pt[l] / som * 100

In [22]:
analise02_pt.head()

,Nome_do_bairro,Moradores domicílios particulares e coletivos,Pessoas responsáveis feminino,Pessoas responsáveis masculino,Sem rendimento mensal masculino,Até 1/2 salário mensal masculino,1/2 a 1 salário mensal masculino,1 a 2 salários mensais masculino,2 a 3 salários mensais masculino,3 a 5 salários mensais masculino,...,Mais de 15 salários mensais masculino,Sem rendimento mensal feminino,Até 1/2 salário mensal feminino,1/2 a 1 salário mensal feminino,1 a 2 salários mensais feminino,2 a 3 salários mensais feminino,3 a 5 salários mensais feminino,5 a 10 salários mensais feminino,10 a 15 salários mensais feminino,Mais de 15 salários mensais feminino
0,Alecrim,28705,3711.0,4967.0,4.409100,1.006644,23.797061,29.373868,13.911818,13.267566,...,1.228105,9.431420,2.586904,35.704662,26.192401,10.051199,8.461331,5.631905,1.131770,0.808407
1,Areia Preta,1956,260.0,338.0,2.662722,0.295858,5.621302,20.118343,13.017751,13.313609,...,21.597633,5.769231,0.769231,15.769231,27.692308,9.615385,12.307692,14.230769,3.076923,10.769231
2,Barro Vermelho,10087,1157.0,1727.0,3.300521,0.173712,4.169079,9.148813,8.280255,14.707585,...,23.972206,7.433016,1.123596,10.458081,11.581677,9.680207,15.471046,24.286949,6.914434,13.050994
3,Bom Pastor,18224,2095.0,3104.0,6.539948,4.155928,41.398196,34.052835,7.216495,3.898196,...,0.096649,20.000000,10.214797,49.307876,15.274463,3.198091,1.479714,0.477327,0.047733,0.000000
4,Candelária,22391,2746.0,4129.0,5.933640,0.339065,5.449261,9.857108,7.628966,12.593848,...,20.900945,12.345229,0.910415,10.305899,12.017480,9.941733,17.188638,23.088128,6.409323,7.793154

In [23]:
analise02.to_csv("analise02.csv", index=False, encoding="UTF-8")

In [24]:
#analise02_pt.to_csv("analise02_pt.csv", index=False, encoding="UTF-8")

# Rascunhos com gráficos

In [25]:
lst = [27, 25, 22, 18, 14, 5, 4, 30, 26, 21, 19, 11, 10, 9, 8, 7, 3, 36, 35, 33, 32, 29, 24, 16, 15, 6, 2, 1, 0, 34, 31, 28, 23, 20, 13, 12]
lst1 = [12, 13, 20, 23, 28, 31, 34, 0, 1, 2, 6, 15, 16, 24, 29, 32, 33, 35, 36, 3, 7, 8, 9, 10, 11, 19, 21, 26, 30, 4, 5, 14, 18, 22, 25, 27]

In [26]:
# colocando em ordem para eixo x
analise02 = analise02.loc[lst1].reset_index(drop=True)
analise02_pt = analise02_pt.loc[lst1].reset_index(drop=True)

In [27]:
pip install -U kaleido

Requirement already satisfied: kaleido in c:\users\mathe\anaconda3\lib\site-packages (0.2.1)
Note: you may need to restart the kernel to use updated packages.

In [28]:
colors_orange = ['#FFBA08', '#FAA307', '#F48C06', '#E85D04', '#DC2F02', '#D00000', '#9D0208', '#6A040F', '#370617']
colors_blue = ['#8CF3F1', '#6EC8C6', '#60B2B1', '#519D9B', '#428786', '#337270', '#255C5B', '#164745', '#073130']

In [29]:
import plotly.express as px
from plotly.subplots import make_subplots

In [ ]:
fig = px.bar(analise02, y='Nome_do_bairro', x=analise02.iloc[:, 4:13].columns,
             labels={'variable': '', 'value': '', 'Nome_do_bairro' : 'Nome do Bairro'},
             color_discrete_sequence=colors_orange,
             title='Renda dos homens responsáveis dos domícilios - Natal RN'
             )
fig.update_layout(
    width=1700,
    height=800  # Set the desired height in pixels
)
fig.update_yaxes(autorange="reversed")
fig.write_image("responsavel_renda_homens.svg")
fig.show()

fig1 = px.bar(analise02, y='Nome_do_bairro', x=analise02.iloc[:, 13:22].columns,
              labels={'variable': '', 'value': '', 'Nome_do_bairro' : 'Nome do Bairro'},
              color_discrete_sequence=colors_blue,
              title='Renda das mulheres responsáveis dos domícilios - Natal RN', orientation='h'
             )
fig1.update_layout(
    width=1700,
    height=800  # Set the desired height in pixels
)
fig1.update_yaxes(autorange="reversed")
fig1.show()

In [ ]:
fig = make_subplots(rows=1, cols=2, horizontal_spacing=0.008, subplot_titles=("Homens", "Mulheres"), shared_yaxes=True)

# Create the first bar chart
fig1 = px.bar(
    analise02,
    y='Nome_do_bairro',
    x=analise02.iloc[:, 4:13].columns,
    labels={'variable': '', 'value': '', 'Nome_do_bairro': 'Nome do Bairro'},
    orientation='h',
    color_discrete_sequence=colors_orange
)

# Create the second bar chart
fig2 = px.bar(
    analise02,
    y='Nome_do_bairro',
    x=analise02.iloc[:, 13:22].columns,
    labels={'variable': '', 'value': '', 'Nome_do_bairro': 'Nome do Bairro'},
    orientation='h',
    color_discrete_sequence=colors_blue
)
fig2.update_yaxes(showticklabels=False)

# Add the first bar chart to the subplot grid
for trace in fig1.data:
    fig.add_trace(trace, row=1, col=1)

# Add the second bar chart to the subplot grid
for trace in fig2.data:
    fig.add_trace(trace, row=1, col=2)

fig.update_layout(
    barmode='stack',
    width=1600,
    height=850,  # Set the desired height in pixels
    title=dict(text='Renda dos responsáveis dos domicílios por gênero - Natal RN', font=dict(size=20)),
    yaxis=dict(title='Nome do Bairro'),
    xaxis1=dict(range=[0, 15000], title='Quantidade'),  # Set x-axis range for the first subplot
    xaxis2=dict(range=[0, 15000], title='Quantidade')
)

fig.update_xaxes(autorange="reversed", row=1, col=1) # Reverse the x-axis values for the first chart
#fig.update_yaxes(ticktext=[''] * len(analise02), tickvals=analise02['Nome_do_bairro'], row=1, col=2) # Remove y-axis values for the second chart
fig.update_yaxes(autorange="reversed") # Reverse the y-axis values

fig.show()

In [ ]:
fig = make_subplots(rows=1, cols=2, horizontal_spacing=0.01, subplot_titles=("Homens", "Mulheres"))

# Create the first bar chart
fig1 = px.bar(
    analise02,
    y='Nome_do_bairro',
    x=analise02.iloc[:, 4:13].columns,
    labels={'variable': '', 'value': '', 'Nome_do_bairro': 'Nome do Bairro'},
    orientation='h',
    color_discrete_sequence=colors_orange
)

# Create the second bar chart
fig2 = px.bar(
    analise02,
    y='Nome_do_bairro',
    x=analise02.iloc[:, 13:22].columns,
    labels={'variable': '', 'value': '', 'Nome_do_bairro': 'Nome do Bairro'},
    orientation='h',
    color_discrete_sequence=colors_blue
)
fig2.update_yaxes(showticklabels=False)

# Add the first bar chart to the subplot grid
for trace in fig1.data:
    fig.add_trace(trace, row=1, col=1)

# Add the second bar chart to the subplot grid
for trace in fig2.data:
    fig.add_trace(trace, row=1, col=2)

fig.update_layout(
    width=1600,
    height=2600,  # Set the desired height in pixels
    title='Renda dos responsáveis dos domicílios por gênero - Natal RN',
    title_x=0.26,  # Sets the title position along the x-axis (0-1 range)
    title_y=0.99,
    xaxis=dict(title='Quantidade'),
    yaxis=dict(title='Nome do Bairro'),
)

fig.update_xaxes(autorange="reversed", row=1, col=1) # Reverse the x-axis values for the first chart
fig.update_yaxes(ticktext=[''] * len(analise02), tickvals=analise02['Nome_do_bairro'], row=1, col=2) # Remove y-axis values for the second chart
fig.update_yaxes(autorange="reversed") # Reverse the y-axis values

fig.show()

In [ ]:
fig1 = px.bar(analise02_pt, y='Nome_do_bairro', x=analise02_pt.iloc[:, 4:13].columns,
              labels={'variable': '', 'value': '', 'Nome_do_bairro' : 'Nome do Bairro'},
              color_discrete_sequence=colors_orange,
              title='Porcentagem das faixas de renda dos homens responsáveis dos domícilios - Natal RN'
             )
fig1.update_layout(
    height=800  # Set the desired height in pixels
)
fig1.update_yaxes(autorange="reversed")
fig1.show()

In [ ]:
import matplotlib.pyplot as plt
import matplotlib.colors

cmap = plt.cm.rainbow
norm = matplotlib.colors.Normalize(vmin=0, vmax=79759)

fig, ax = plt.subplots()
ax.bar(analise02['Nome_do_bairro'], analise02['Moradores domicílios particulares e coletivos'], color=cmap(norm(analise02['Moradores domicílios particulares e coletivos'].values)))
ax.set_xticks(analise02.Nome_do_bairro)
plt.tick_params(axis='x', which='major', labelsize=6, rotation=90)

sm = plt.cm.ScalarMappable(cmap=cmap, norm=norm)
fig.colorbar(sm)

plt.show()

In [ ]:
from plotly import graph_objects as go
fig1 = go.Figure(
    data = [
        go.Bar(
            name="homens",
            x=analise02["Pessoas responsáveis masculino"],
            y=analise02["Nome_do_bairro"],
            orientation='h',
            offsetgroup=0,
        ),
        go.Bar(
            name="mulheres",
            x=analise02["Pessoas responsáveis feminino"],
            y=analise02["Nome_do_bairro"],
            orientation='h',
            offsetgroup=1,
        ),
    ],
    layout=go.Layout(
        title="Pessoas responsáveis dos domícilios por gênero- Natal RN",
        yaxis_title="Nome do bairro"
    ),
)
fig1.data[0].marker.color = ('#F48C06')
fig1.data[1].marker.color = ('#60B2B1')
fig1.update_layout(
    width=1600,
    height=1000  # Set the desired height in pixels
)
fig1.update_yaxes(autorange="reversed") # Reverse the y-axis values
fig1.show()

In [ ]:
fig = go.Figure()

colors_orange = ['#FFBA08', '#FAA307', '#F48C06', '#E85D04', '#DC2F02', '#D00000', '#9D0208', '#6A040F', '#370617']
colors_blue = ['#8CF3F1', '#6EC8C6', '#60B2B1', '#519D9B', '#428786', '#337270', '#255C5B', '#164745', '#073130']

i = 0
for column_name in analise02.iloc[:, 4:13].columns:
  fig.add_trace(go.Scatter(y=analise02['Nome_do_bairro'], x=analise02[column_name], name=column_name,
                           line=dict(color=colors_orange[i], width=2), mode='lines+markers', marker=dict(size=5, symbol="circle"),
                           legendgroup="group",  # this can be any string, not just "group",
                           legendgrouptitle_text="Responsáveis - Homens"))
  i+=1
i = 0
for column_name in analise02.iloc[:, 13:22].columns:
  fig.add_trace(go.Scatter(y=analise02['Nome_do_bairro'], x=analise02[column_name], name=column_name,
                           line=dict(color=colors_blue[i], width=2), mode='lines+markers', marker=dict(size=5, symbol="square"),
                           legendgroup="group2",  # this can be any string, not just "group",
                           legendgrouptitle_text="Responsáveis - Mulheres"))
  i+=1

fig.update_layout(
    title='Renda dos responsáveis dos domicílios de Natal - RN',
    xaxis=dict(title='Quantidade', range=[-100,5100]),
    yaxis=dict(title='Nome do Bairro'),
    legend=dict(x= 1.02, y= 1, groupclick="toggleitem")
)
fig.update_layout(
    width=1400,
    height=1000
)
fig.update_yaxes(autorange="reversed")
fig.show()

In [ ]:
# Create data for line charts
x_data = [1, 2, 3, 4, 5]
y1_data = [10, 20, 15, 25, 30]
y2_data = [5, 10, 8, 12, 15]

# Create data for grouped bar chart
categories = ['A', 'B', 'C', 'D', 'E']
bar1_data = [7, 12, 10, 15, 8]
bar2_data = [5, 8, 6, 10, 12]

# Transpose the data for grouped bar chart
categories_transposed = ['Bar 1', 'Bar 2']
bar_data_transposed = [[7, 5], [12, 8], [10, 6], [15, 10], [8, 12]]

# Create subplots with 1 row and 3 columns
fig = make_subplots(rows=1, cols=3, shared_yaxes=True)

# Add first line chart
fig.add_trace(go.Scatter(x=x_data, y=y1_data, mode='lines', name='Line 1'), row=1, col=1, secondary_y=False)

# Add second line chart
fig.add_trace(go.Scatter(x=x_data, y=y2_data, mode='lines', name='Line 2'), row=1, col=2, secondary_y=False)

# Add grouped bar chart
for i, category in enumerate(categories_transposed):
    fig.add_trace(go.Bar(x=categories, y=bar_data_transposed[i], name=category), row=1, col=3, secondary_y=False)

# Update layout
fig.update_layout(height=600, width=1000, showlegend=False)

# Show the plot
fig.show()

In [ ]:
fig = make_subplots(rows=1, cols=3, horizontal_spacing=0.006, shared_yaxes=True, subplot_titles=("Homens", "Mulheres", "Total"))

i = 0
for column_name in analise02.iloc[:, 4:13].columns:
  fig.add_trace(go.Scatter(y=analise02['Nome_do_bairro'], x=analise02[column_name], name=column_name,
                           line=dict(color=colors_orange[i], width=2), mode='lines+markers', marker=dict(size=5, symbol="square")), row=1, col=1, secondary_y=False)
  i+=1

i = 0
for column_name in analise02.iloc[:, 13:22].columns:
  fig.add_trace(go.Scatter(y=analise02['Nome_do_bairro'], x=analise02[column_name], name=column_name,
                           line=dict(color=colors_blue[i], width=2), mode='lines+markers', marker=dict(size=5, symbol="circle")), row=1, col=2, secondary_y=False)
  i+=1

fig.add_trace(go.Bar(x=analise02["Pessoas responsáveis masculino"], y=analise02["Nome_do_bairro"],
                     name='Homens', orientation='h', marker=dict(color=colors_orange[3])), row=1, col=3, secondary_y=False)
fig.add_trace(go.Bar(x=analise02["Pessoas responsáveis feminino"], y=analise02["Nome_do_bairro"],
                     name='Mulheres', orientation='h', marker=dict(color=colors_blue[2])), row=1, col=3, secondary_y=False)

fig.update_layout(
    width=1900,
    height=1200,
    title=dict(text='Renda dos responsáveis dos domicílios de Natal - RN', font=dict(size=20)),
    title_y=0.99, # Sets the title position along the y-axis (0-1 range)
    xaxis1=dict(range=[5200, -100], title='Quantidade', title_standoff=30),  # Set x-axis range for the first subplot
    xaxis2=dict(range=[-100, 5200], title='Quantidade', title_standoff=30),
    yaxis=dict(title='Nome do Bairro'),
)

#fig.update_yaxes(ticktext=[''] * len(analise02), tickvals=analise02['Nome_do_bairro'], row=1, col=2) # Remove y-axis values for the second chart
#fig.update_yaxes(ticktext=[''] * len(analise02), tickvals=analise02['Nome_do_bairro'], row=1, col=3) # Remove y-axis values for the third chart
fig.update_yaxes(autorange="reversed") # Reverse the y-axis values

fig.show()

In [ ]:
# Cria a figura com subplots
fig = make_subplots(rows=1, cols=2)

# Cria os gráficos de linha
trace_linha1 = go.Scatter(
    y=[1, 2, 3, 4, 5],
    x=[1, 3, 2, 4, 3],
    mode='lines',
    name='Linha 1'
)

trace_linha2 = go.Scatter(
    y=[1, 2, 3, 4, 5],
    x=[3, 1, 4, 2, 3],
    mode='lines',
    name='Linha 2'
)

# Cria os gráficos de barras com eixo y invertido
trace_barras1 = go.Bar(
    x=[2, 4, 1, 3, 2],
    y=[1, 2, 3, 4, 5],
    orientation='h',
    name='Barras 1',
    marker=dict(
        opacity=0.6
    )
)

trace_barras2 = go.Bar(
    x=[4, 2, 3, 1, 4],
    y=[1, 2, 3, 4, 5],
    orientation='h',
    name='Barras 2',
    marker=dict(
        opacity=0.6
    )
)

# Adiciona os gráficos aos subplots
fig.add_trace(trace_linha1, row=1, col=1)
fig.add_trace(trace_linha2, row=1, col=2)
fig.add_trace(trace_barras1, row=1, col=1)
fig.add_trace(trace_barras2, row=1, col=2)

# Atualiza o layout dos subplots
fig.update_layout(
    title='Sobreposição de Gráficos de Linha e Gráficos de Barras com Eixos Invertidos',
    yaxis=dict(title='Eixo Y'),
    xaxis=dict(title='Eixo X')
)

# Mostra a figura
fig.show()

In [ ]:
fig = make_subplots(rows=1, cols=2, horizontal_spacing=0.004, shared_yaxes=True, subplot_titles=("Homens", "Mulheres", "Total"))

i = 0
for column_name in analise02.iloc[:, 4:13].columns:
  fig.add_trace(go.Scatter(y=analise02['Nome_do_bairro'], x=analise02[column_name], name=column_name,
                           line=dict(color=colors_orange[i], width=2), mode='lines+markers', marker=dict(size=5, symbol="square"),
                           legendgroup="group",  # this can be any string, not just "group"
                           legendgrouptitle_text="Responsáveis - Homens"),
                row=1, col=1, secondary_y=False)
  i+=1

i = 0
for column_name in analise02.iloc[:, 13:22].columns:
  fig.add_trace(go.Scatter(y=analise02['Nome_do_bairro'], x=analise02[column_name], name=column_name,
                           line=dict(color=colors_blue[i], width=2), mode='lines+markers', marker=dict(size=5, symbol="circle"),
                           legendgroup="group2",  # this can be any string, not just "group"
                           legendgrouptitle_text="Responsáveis - Mulheres"),
                row=1, col=2, secondary_y=False)
  i+=1

fig.add_trace(go.Bar(x=analise02["Pessoas responsáveis masculino"], y=analise02["Nome_do_bairro"],
                     name='Homens', orientation='h', marker=dict(color=colors_orange[3], opacity=0.4),
                     legendgroup="group3",  # this can be any string, not just "group"
                     legendgrouptitle_text="Total"),
              row=1, col=1, secondary_y=False)

fig.add_trace(go.Bar(x=analise02["Pessoas responsáveis feminino"], y=analise02["Nome_do_bairro"],
                     name='Mulheres', orientation='h', marker=dict(color=colors_blue[2], opacity=0.4)),
              row=1, col=2, secondary_y=False)

fig.update_layout(
    width=1900,
    height=1000,
    title=dict(text='Renda dos responsáveis dos domicílios de Natal - RN', font=dict(size=20)),
    yaxis=dict(title='Nome do Bairro'),
    title_y=0.99, # Sets the title position along the y-axis (0-1 range)
    xaxis1=dict(title='Quantidade', title_standoff=30),
    xaxis2=dict(range=[-200, 14200], title='Quantidade', title_standoff=30),
    legend=dict(groupclick="toggleitem")
)

fig.update_xaxes(range=[14200, -200], row=1, col=1) # Reverse the x-axis values for the first chart
fig.update_yaxes(autorange="reversed") # Reverse the y-axis values

fig.show()

In [ ]:
#analise02_renda_linha = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/data/analise02_renda_linha.csv')
#analise02_renda_linha = analise02_renda_linha[analise02_renda_linha.Nome_do_bairro != 'NATAL (demais setores)']
#analise02_renda_linha

In [ ]:
#fig = px.line(analise02_renda_linha.loc[::-1], x="Nome_do_bairro", y="Quantidade_masculino", color="Renda_masculino",
#              color_discrete_sequence=colors_orange[::-1],
#              markers=True)
#fig.update_layout(
#    width=1800,
#    height=850
#)
#fig.update_traces(marker=dict(size=5))
#fig.show()
#
#fig1 = px.line(analise02_renda_linha.loc[::-1], x="Nome_do_bairro", y="Quantidade_feminino", color='Renda_feminino',
#              color_discrete_sequence=colors_blue[::-1],
#              markers=True)
#fig1.update_layout(
#    width=1800,
#    height=850  # Set the desired height in pixels
#)
#fig1.update_traces(marker=dict(size=5, symbol="square"))
#fig1.show()